<label>
  <span>Character</span>
  {{input type="text" value=signature.characterName}}
</label>

<label>
  <span>Clan</span>
  {{input type="text" value=signature.clanName}}
</label>

<label>
  <span>Message</span>
  {{input type="text" value=signature.message}}
</label>