<div class="signature-preview">

  {{#if signature.characterName}}
    <div class="character-name">{{signature.characterName}}</div>
  {{/if}}

  {{#if signature.clanName}}
    <div class="clan-name">{{signature.clanName}}</div>
  {{/if}}

</div>