<div class="row">
  <div class="columns small-3">

    <label>
      <span>Character</span>
      {{input type="text" value=signature.characterName}}
    </label>

  </div>
  <div class="columns small-6">

    <label>
      <span>Message</span>
      {{input type="text" value=signature.message}}
    </label>

  </div>
  <div class="columns small-3">

    {{!-- <label>
      <span>Color</span>
      {{input type="text" value=signature.backgroundColor}}
    </label> --}}

    {{#radio-button
      value="background_1.png"
      groupValue=signature.backgroundImage
      changed="backgroundChanged"
    }}
      Background 1
    {{/radio-button}}

    {{#radio-button
      value="background_2.png"
      groupValue=signature.backgroundImage
      changed="backgroundChanged"
    }}
      Background 2
    {{/radio-button}}

  </div>
</div>
