$signature-preview-background-color:          #000000;
$signature-preview-font-family:               $banner-font-family;
$signature-preview-font-size:                 13px;
$signature-preview-text-color:                #ffffff;
$signature-preview-border-color:              #000000;
$signature-preview-background-url:            "assets/images/signature_background.jpg";
$signature-preview-text-weight:               300;

signature-preview {
  display: block;
  position: relative;
  box-sizing: border-box;
  border: 1px solid $signature-preview-border-color;
  background: $signature-preview-background-color;
  background-image: url($signature-preview-background-url);
  background-size: 100% auto;
  padding: 0;
  width: 400px;
  height: 64px;
  text-transform: uppercase;
  color: $signature-preview-text-color;
  font-family: $signature-preview-font-family;
  font-size: $signature-preview-font-size;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid $signature-preview-text-color;
    content: "";
  }

  > * {
    position: absolute;
    z-index: 2;
  }

  > .signature-character {
    top: 11px;
    right: 12px;
  }

  > .signature-secondary-area {
    right: 12px;
    bottom: 11px;
  }
}

.signature-secondary-area {
  > :last-child:before {
    content: " - ";
  }
}

.signature-character {
  font-size: 1.3em;
  font-weight: $signature-preview-text-weight;
}

.signature-title {
  font-size: 1em;
  font-weight: $signature-preview-text-weight;
}

.signature-clan {
  outline: none;
  text-decoration: none;
  color: $signature-preview-text-color;
  font-size: 1em;
  font-weight: $signature-preview-text-weight;
}
