<div class="row">
  <div class="columns small-12">

    <h1>Signature generator (prototype)</h1>

    {{signature-edit-form signature=model.newSignature}}

    {{signature-preview signature=model.newSignature}}

  </div>
</div>

{{outlet}}
