$large-card-background-color: $card-background-color !default;

large-card {
  display: block;
  box-sizing: border-box;
  background: $large-card-background-color;
  padding: 16px;

  @include respond-to(medium-and-large-screens) {
    position: relative;
    top: -64px;
    margin: 0 auto;
    border-radius: 3px;
    // TODO: use one color and decline it.
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
                0 1px 1px 0 rgba(0, 0, 0, 0.14),
                0 2px 1px -1px rgba(0, 0, 0, 0.12);
    width: 80%;
    min-width: 552px;
    max-width: 1000px;
    height: 70%;
  }
}
