$banner-font-family:        $font-family;
$banner-title-color:        #ffffff;
$banner-background-color:   $primary-color;
$banner-border-color:       darken($banner-background-color, 3);

banner {
  display: block;
  box-sizing: border-box;
  border-bottom: 1px solid $banner-border-color;
  background: $banner-background-color;
  padding: 16px;
  font-family: $banner-font-family;

  h1 {
    margin: 0;
    line-height: 1.2;
    color: $banner-title-color;
    font-size: 2em;
    font-weight: 400;
  }

  @include respond-to(medium-and-large-screens) {
    padding: 120px 0 0;
    height: 256px;

    h1 {
      margin-right: auto;
      margin-left: auto;
      width: 80%;
      max-width: 552px;
      font-size: 3em;
    }
  }
}
